/*
 * Home
 */
.home-hello {
	position: relative;
}

.home img {
	display: inherit;
}

.home-hello .avatar img {
	width: 30%;
}

.home-hello h1 {
	margin-top: 0;
}

.home-hello .item {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	border: 0;
	background: transparent;

}

.home-hello .item .overlay {
	background: rgba(255, 255, 255, 0.75);
	margin: 0 -16px;
	padding: 0 16px;
}

.card.col.home h1 {
	text-align: center;
}

.card.col.home h2 {
	text-align: center;
}

